body {
  margin: 0;
}

header {
  background-color: #000;
  margin-bottom: 40px;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}
